.input-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.5s;
  backface-visibility: hidden;
}

.input-container.flipped {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}
